<!DOCTYPE html>
<html ng-app="gemStore">
<head>
	<meta charset="utf-8">
	<title>选项卡控制器</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	
</head>
<body ng-controller="StoreController as store">
	<div class="list-group" style="width:50%">
		<div ng-repeat="product in store.products | orderBy:'-price'">  
			<div ng-hide="product.soldOut">
				<h3>
					{{product.name}}
					<em class="pull-right">{{product.price | currency}}</em>
				</h3>
				<img ng-src="{{product.images[0].full}}" width="60" />
				<p>上架时间 &nbsp;&nbsp;{{product.sellTime | date:"MM/dd/yyyy"}}</p>
				<button ng-show="product.canPurchase">加购物车</button>
			</div>

			<div class="tab" ng-controller="TabController as tabs">
				<ul class="nav nav-pills">
					<li ng-class="{active:tabs.isSet(1)}">
						<a href="" ng-click="tabs.setTab(1)">产品描述</a>
					</li>
					<li ng-class="{active:tabs.isSet(2)}">
						<a href="" ng-click="tabs.setTab(2)">规格</a>
					</li>
					<li ng-class='{active:tabs.isSet(3)}'> 
						<a href="" ng-click="tabs.setTab(3)">评论</a>
					</li>
				</ul>
				<div ng-show="tabs.isSet(1)">
					<h4>产品描述:{{product.description}}</h4>
				</div>
				<div ng-show="tabs.isSet(2)">
					<h4>光泽度:{{product.shine}}</h4>
				</div>
				<div ng-show="tabs.isSet(3)">
					<h4>评论</h4>
				</div>
			</div>

		</div>
	</div>

	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>












